/*
 * Copyright (c) 2025 Vincent Franco
 * SPDX-License-Identifier: MIT
 */

#include "crosses.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

&default_transform {
  col-offset = <6>;
};

&forty_two_transform {
  col-offset = <6>;
};

&thirty_six_transform {
  col-offset = <6>;
};

&kscan0 {
  col-gpios
    = <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&gpio0 10  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    , <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    ;

};

&trackball_peripheral_listener {
  status = "okay";
};

&spi1 {
  cs-gpios = <&gpio1 0 GPIO_ACTIVE_LOW>;

  trackball_central: trackball_central@0 {
    status = "okay";
    compatible = "pixart,pmw3610-efogtech";
    reg = <0>;
    spi-max-frequency = <2000000>;
    irq-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    cpi = <400>;
    xy-swap;
    // x-invert;
    // y-invert;
    evt-type = <INPUT_EV_REL>;
    x-input-code = <INPUT_REL_X>;
    y-input-code = <INPUT_REL_Y>;
    force-awake;
    /* keep the sensor awake while ZMK activity state is ACTIVE,
        fallback to normal downshift mode after ZMK goes into IDLE / SLEEP mode.
        thus, the sensor would be a `wakeup-source` */
  };
};

// Overrides for the input listener node
&trackball_central_listener {
  status = "okay";
  device = <&trackball_central>;
	input-processors = <&zip_ble_report_rate_limit>;
};

&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        inversion-on;
        prechargep = <0x22>;
    };
};
